<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>TestPortletContainer</display-name>
<!--	<listener>-->
<!--		<listener-class>org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener</listener-class>-->
<!--	</listener>-->
<!--	<servlet>-->
<!--		<servlet-name>PortletWrapper</servlet-name>-->
<!--		<servlet-class>org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper</servlet-class>-->
<!--	</servlet>-->
<!---->
<!--	<servlet-mapping>-->
<!--		<servlet-name>PortletWrapper</servlet-name>-->
<!--		<url-pattern>/PortletWrapper</url-pattern>-->
<!--	</servlet-mapping>-->
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
</web-app>
